        <div class="side-nav">
            <h2 class="logo text-muted">
                NoteShade
            </h2>

            <input type="text" ng-model="searchTerm.name" class="form-control" placeholder="Search Title">


            <div> <br></div>

            <ul class="tag-menu">

                <li ng-repeat="categ in ct.category">
                    <a href data-toggle="collapse" data-target={{"#demo"+($index+1)}}><span> {{categ.name}}<i class="caret"></i> </span></a>
                    <ul id={{"demo"+($index+1)}} class="collapse">
                        <li ng-class="{'active':IsSelected(item) }" ng-repeat="item in categ.child">
                            <a href ng-click="ToggleCategory(item)"><span>{{item}}</span></a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
